body {
  margin-top: 2%;
  margin-inline: 15%;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.h-right {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: flex-end;
}

.h-mid {
  display: flex;
  /* justify-content: right; */
}

.user {
  display: flex;
  align-items: center;
}

.user * {
  margin: 10px;
}

.profile-pic {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
  width: 250px;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.sub-button {
  border-radius: 20px;
  padding: 5%;
  width: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  margin-top: 2vh;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
}

.about {
  text-align: left;
}

.collage {
  float: right;
  width: 30%;
}

.about p {
  font-size: large;
}

.footer {
  border-style: solid;
}

.m-left {
  display: flex;
  justify-content: space-evenly;
  flex: 3;
  font-size: larger;
}

.m-right {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: right;
}

.product {
  justify-content: center;
  margin-top: 2%;
  padding: 2%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30ch;
  /* height: 200px; */
  /* margin-inline: 30%; */
}

.product img {
  /* width: 300px; */
  height: 20vh;
}

.add-cart {
  background-color: coral;
  padding: 2%;
  border-radius: 20px;
}

.shop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cart-buttons {
  display: flex;
  justify-content: space-around;
}

.total {
  text-align: center;
  padding: 5%;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.log-sign h3 {
  padding: 2%;
}

.update-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-user div {
  border: solid black;
  margin: 2%;
}

.update-user * {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
