body {
  margin-top: 2%;
  margin-inline: 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.h-right {
  display: flex;
  align-items: center;
}

.h-mid {
  display: flex;
  /* justify-content: right; */
}

.user {
  display: flex;
  align-items: center;
}

.user * {
  margin: 10px;
}

.profile-pic {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
  width: 250px;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.sub-button {
  border-radius: 20px;
  padding: 5%;
  width: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
}

/* .header button {
  font-size: 300%;
} */

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.cart {
  font-size: 300%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin-top: 2vh;
  /* -webkit-box-shadow: 0 0 50px rgb(124, 124, 124); */
  /* box-shadow: 0 0 50px rgb(134, 134, 134); */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
}

.about {
  text-align: left;
}
.collage {
  float: right;
  width: 30%;
}

.about p {
  font-size: large;
}

.footer {
  border-style: solid;
}

.m-left {
  display: flex;
  justify-content: space-evenly;
  flex: 3;
  font-size: larger;
}

.m-right {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: right;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin-inline: 10%;
  border: solid black;
}

.product {
  justify-content: center;
  margin-top: 2%;
  padding: 2%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  /* margin-inline: 30%; */
}

.product img {
  width: 90%;
}

.add-cart {
  background-color: coral;
  padding: 4%;
  border-radius: 20px;
}

.supplies {
  display: flex;
  /* flex-direction: column; */
  /* background-color: coral; */
}

.cart-side {
  width: 30%;
}
.supply-side {
  width: 70%;
}
